# คัดลอกไฟล์นี้เป็น .env แล้วใส่ค่าจาก Supabase Project Settings > API
VITE_SUPABASE_URL=https://bhbuhlrftqhuoynxkosy.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJoYnVobHJmdHFodW95bnhrb3N5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc1MjkwNTEsImV4cCI6MjEwMzEwNTA1MX0.yEiUOmJK5SNsYqdj2rkK0flyl1NnxiLNfjrO9VWYK-M
